In [47]:
from typing import List, Dict
import pandas as pd
import datetime

## Условие 2

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [48]:
def sum_fruits(fruits: Dict):
    return sum(fruits.values())

storage1 = {'apple': 80, 'banana': 67, 'pineap­ple': 35, 'papaya': 95, 'orange':20}
sum_fruits(storage1)

297

## Условие 3

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

In [49]:
reklama = [100, 125, -90, 345, 655, -1, 0, 200]

In [50]:
print(sum(a for a in reklama if a >= 0))

1425

## Условие 4

Даны два списка.

Дата покупки

In [51]:
data = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам

In [52]:
purchase = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре

Используйте list comprehensions

In [53]:
print(sum([p for d, p in zip(data, purchase) if d[5:7] == "11"]))

25098

### 4.2 Найдите выручку компании в зависимости от месяца

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [54]:
def sum_month (data: List, purchase: List) -> Dict:
    df = pd.DataFrame()
    df['Date'] = [datetime.datetime.strptime(i, '%Y-%m-%d') for i in data]
    df['Sum'] = purchase
    #df = df.groupby (df.Date.dt.month )['Sum']. sum ()
    df['Month'] = pd.DatetimeIndex(df['Date']).month
    df = df.groupby('Month').sum()
    return df.to_dict('dict')
    #df.to_dict('index')

sum_month(data, purchase)

C:\Users\Admin\AppData\Local\Temp\ipykernel_15020\3274277317.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby('Month').sum()

{'Sum': {9: 25647, 10: 28645, 11: 25098, 12: 45452}}